 /* écran mobile */
/* debut header  */
 .intro span{
    color:#FF1400 ;
  }

.background-section {
  background-image: url('images/background.svg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: rgb(235, 241, 239);
  background-position: center center;
  height: auto; /* hauteur de la section */
  position: relative;
  height: 100vh;
}
 


.custom-bg {
  background-color: #EFEFEF;
}



.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.card1{
  height:200px;
}

.body span{
  font-weight:bold;
}
/* section 3 */
.overlay {
  background-color: black;
  opacity: 0.7; /* Transparence de 70% */
}

ig {
  z-index: -30%; /* Met l'image au-dessus de la div */
}


.image-flux{
  transform: translateX(-50px);
  z-index: 1;
/*   position: relative;
  left: -30px;
  top: -100px; */
}

.texte-flux{
  transform: translateX(50px);
  z-index: 1;
}





